@charset "UTF-8";
button:disabled {
  background: #808080 !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  color: #EDECFF !important;
  pointer-events: none;
}

footer i {
  background: url("../images/icon/footer_ic.png") no-repeat;
  background-size: 500%;
}

.agentPage .intro_ic {
  background: url("../images/agent_introIC.png") no-repeat;
  background-size: 100%;
}

header .logo {
  height: 80%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "微軟正黑體";
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-family: "微軟正黑體";
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 0px;
  font-family: "微軟正黑體";
}

select, input {
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "微軟正黑體";
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

main {
  display: block;
}

html, body {
  width: 100%;
  height: auto;
}

i {
  display: block;
}

a {
  text-decoration: none;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

html {
  width: 100%;
  height: 100%;
  background: #1E183C;
  font-size: 4vw;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html body {
  width: 100%;
  height: 100%;
}
html body main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 6vh 0 8vh;
}
html body .bg {
  width: 100%;
  height: 100%;
  background: #1E183C;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: -999;
}
html body header {
  width: 100%;
  height: auto;
  background: #312B4F;
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5019607843);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5019607843);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
html body header .content {
  width: 100%;
  height: 6vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 4vw;
}
html body header .content.index {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body header .content .inviteBtn {
  width: auto;
  height: 4vh;
  background: linear-gradient(-30deg, #FF29F1 0%, #00B0FF 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body header .content .inviteBtn.apply {
  padding: 0 6vw;
}
html body header .content .inviteBtn i {
  width: 6.5vw;
  height: 6.5vw;
  margin-right: 2vw;
}
html body header .content .inviteBtn p {
  text-align: left;
}
html body .filter {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5882352941);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
html body .filter.display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
html body .filter .jumpWindow {
  display: none;
  width: 92.27vw;
  height: auto;
  background: #2B2446;
  border-radius: 4vw;
  position: relative;
}
html body .filter .jumpWindow.display {
  display: block;
}
html body .filter .jumpWindow .title {
  width: 100%;
  height: 16vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow .title p {
  color: #EDECFF;
  font-size: 1.5rem;
  font-weight: bold;
}
html body .filter .jumpWindow i.close {
  width: 11vw;
  height: 11vw;
  background: #202326;
  border-radius: 50%;
  border: solid 1px #FFFFFF;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -14vw;
}
html body .filter .jumpWindow i.close::before, html body .filter .jumpWindow i.close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 40%;
  background: #ffffff;
  top: 50%;
  left: 50%;
}
html body .filter .jumpWindow i.close::before {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
html body .filter .jumpWindow i.close::after {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}
html body .filter .jumpWindow.plsGo .content, html body .filter .jumpWindow.plsGo2 .content {
  width: auto;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.plsGo .content p, html body .filter .jumpWindow.plsGo2 .content p {
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.2rem;
  text-align: center;
  padding: 4vw 0;
}
html body .filter .jumpWindow.plsGo .content button, html body .filter .jumpWindow.plsGo2 .content button {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  margin-top: 7vw;
}
html body .filter .jumpWindow.loginWindow form {
  width: 100%;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.loginWindow form label {
  display: block;
  width: 100%;
  height: auto;
  margin-bottom: 3vw;
}
html body .filter .jumpWindow.loginWindow form label p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.loginWindow form label input {
  width: 100%;
  height: 11vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.loginWindow form label input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.loginWindow form label input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.loginWindow form label input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.loginWindow form label input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.loginWindow form label input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.loginWindow form .forget {
  width: 100%;
  height: auto;
  text-align: right;
}
html body .filter .jumpWindow.loginWindow form .forget p {
  color: #A4BFFF;
  font-size: 0.75rem;
  font-weight: bold;
}
html body .filter .jumpWindow.loginWindow form .realLogin {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  margin: 7vw 0;
}
html body .filter .jumpWindow.loginWindow form .registerBtn {
  width: 40%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#40B372), to(#2D7BC8));
  background: linear-gradient(to right, #40B372 0%, #2D7BC8 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  padding: 0 3vw;
  display: block;
  margin: 0 auto;
}
html body .filter .jumpWindow.forgetWindow form {
  width: 100%;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.forgetWindow form label {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}
html body .filter .jumpWindow.forgetWindow form label input {
  width: 100%;
  height: 13vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.forgetWindow form label input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.forgetWindow form label input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.forgetWindow form label input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.forgetWindow form label input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.forgetWindow form label input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.forgetWindow form label button {
  width: auto;
  height: 13vw;
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.75rem;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 2vw;
}
html body .filter .jumpWindow.forgetWindow form p {
  width: 100%;
  height: auto;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.2rem;
  margin: 12vw 0 7vw;
}
html body .filter .jumpWindow.registerWindow form {
  width: 100%;
  height: auto;
  max-height: 66vh;
  overflow-y: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.registerWindow form label {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.registerWindow form label.isCheck {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 11vw;
}
html body .filter .jumpWindow.registerWindow form label.isCheck input {
  width: 4vw;
  height: 4vw;
  position: relative;
  margin-right: 2vw;
}
html body .filter .jumpWindow.registerWindow form label.isCheck input::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: solid 1px #707070;
  border-radius: 1vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
html body .filter .jumpWindow.registerWindow form label.isCheck p {
  color: #BEBEBE;
  font-size: 0.75rem;
  font-weight: bold;
}
html body .filter .jumpWindow.registerWindow form label.isCheck p span {
  display: block;
  color: #A4BFFF;
  margin-top: 1vw;
}
html body .filter .jumpWindow.registerWindow form label input[type=text] {
  width: 100%;
  height: 13vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.registerWindow form label input[type=text]::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.registerWindow form label input[type=text]::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.registerWindow form label input[type=text]:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.registerWindow form label input[type=text]::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.registerWindow form label input[type=text]::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.registerWindow form label button {
  width: auto;
  height: 13vw;
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.75rem;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 2vw;
}
html body .filter .jumpWindow.registerWindow form label .remind {
  color: #BEBEBE;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 4vw;
  margin-top: 1vw;
}
html body .filter .jumpWindow.registerWindow form .close {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .filter .jumpWindow.ruleWindow .content {
  width: 100%;
  height: 66vh;
  overflow-y: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.ruleWindow .content .ruleBody {
  width: 100%;
  height: auto;
}
html body .filter .jumpWindow.ruleWindow .content .ruleBody h2 {
  color: #EDECFF;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.ruleWindow .content .ruleBody div {
  width: 100%;
  height: auto;
  padding: 3vw;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.ruleWindow .content .ruleBody div p {
  color: #BEBEBE;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.2rem;
}
html body .filter .jumpWindow.ruleWindow .content .ruleBody div p a {
  color: #A4BFFF;
}
html body .filter .jumpWindow.ruleWindow button {
  width: 90%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  display: block;
  margin: 0 auto 5vw;
}
html body .filter .jumpWindow.news .box {
  width: 100%;
  height: auto;
  min-height: 50vh;
  padding: 0 5vw 5vw;
}
html body .filter .jumpWindow.news .box .typeList {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2vw 1fr 2vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 0 2vw;
  margin-bottom: 5vw;
}
html body .filter .jumpWindow.news .box .typeList li {
  width: auto;
  height: 11vw;
  background: -webkit-gradient(linear, left top, left bottom, from(#7368B7), to(#322B5D));
  background: linear-gradient(to bottom, #7368B7 0%, #322B5D 100%);
  border-radius: 3vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .filter .jumpWindow.news .box .typeList li:active, html body .filter .jumpWindow.news .box .typeList li.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#469FE3), to(#6140B3));
  background: linear-gradient(to bottom, #469FE3 0%, #6140B3 100%);
}
html body .filter .jumpWindow.news .box .content {
  display: none;
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
}
html body .filter .jumpWindow.news .box .content.display {
  display: block;
}
html body .filter .jumpWindow.news .box .content li {
  width: 100%;
  height: auto;
  background: #151223;
  border-radius: 2vw;
  border: solid 1px #BEBEBE;
  padding: 4vw;
  margin-bottom: 3vw;
}
html body .filter .jumpWindow.news .box .content li:last-child {
  margin: 0;
}
html body .filter .jumpWindow.news .box .content li p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.2rem;
}
html body .filter .jumpWindow.gameWindow form {
  width: 100%;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.gameWindow form .row {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4vw;
}
html body .filter .jumpWindow.gameWindow form .row:nth-of-type(5) {
  margin: 7vw 0;
}
html body .filter .jumpWindow.gameWindow form .row.btnBox {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1vw 1fr 1vw 1fr 1vw 1fr;
  grid-template-columns: repeat(4, 1fr);
  gap: 1vw;
  margin-bottom: 7vw;
}
html body .filter .jumpWindow.gameWindow form .row.btnBox button {
  width: auto;
  height: 11vw;
  background: #3D2F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.gameWindow form .row.btnBox button:active, html body .filter .jumpWindow.gameWindow form .row.btnBox button.active {
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
}
html body .filter .jumpWindow.gameWindow form .row .smallTitle {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  margin-right: 7vw;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body .filter .jumpWindow.gameWindow form .row .money {
  color: #EDECFF;
  font-size: 1.2rem;
  font-weight: bold;
}
html body .filter .jumpWindow.gameWindow form .row input {
  width: 100%;
  height: 11vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.gameWindow form .row input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.gameWindow form .row input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.gameWindow form .row input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.gameWindow form .row input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.gameWindow form .row input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.gameWindow form .row .checkBtn {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .filter .jumpWindow.gameWindow form .row .betBtn {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#E3C91C), to(#F451BE));
  background: linear-gradient(to right, #E3C91C 0%, #F451BE 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.passwordWindow .content {
  width: 100%;
  height: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.passwordWindow .content input {
  width: 100%;
  height: 11vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.passwordWindow .content input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.passwordWindow .content input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.passwordWindow .content input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.passwordWindow .content input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.passwordWindow .content input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.passwordWindow .content button {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  margin-top: 7vw;
}
html body .filter .jumpWindow.phoneWindow .smallTitle {
  width: 100%;
  height: auto;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  padding: 4vw 0 9vw;
}
html body .filter .jumpWindow.phoneWindow .smallTitle span {
  display: block;
  margin-bottom: 4vw;
}
html body .filter .jumpWindow.phoneWindow form {
  width: 100%;
  height: auto;
  padding: 0 5vw 5vw;
}
html body .filter .jumpWindow.phoneWindow form label {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.phoneWindow form label input {
  width: 100%;
  height: 13vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.phoneWindow form label input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.phoneWindow form label input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.phoneWindow form label input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.phoneWindow form label input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.phoneWindow form label input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.phoneWindow form label button {
  width: auto;
  height: 13vw;
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.75rem;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 2vw;
}
html body .filter .jumpWindow.phoneWindow form .cellphoneCheck {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  margin-top: 7vw;
}
html body .filter .jumpWindow.pointWindow .content, html body .filter .jumpWindow.betHistoryWindow .content {
  width: 100%;
  height: auto;
  max-height: 112vw;
  overflow-y: auto;
  padding: 5vw 5vw 10vw;
}
html body .filter .jumpWindow.pointWindow .content .smallTitle, html body .filter .jumpWindow.betHistoryWindow .content .smallTitle {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.pointWindow .content table, html body .filter .jumpWindow.betHistoryWindow .content table {
  width: 100%;
  background: #191433;
  border-radius: 2vw;
  -webkit-box-shadow: inset 0 0 3px #BEBEBE;
          box-shadow: inset 0 0 3px #BEBEBE;
}
html body .filter .jumpWindow.pointWindow .content table:not(:first-child), html body .filter .jumpWindow.betHistoryWindow .content table:not(:first-child) {
  margin-top: 4vw;
}
html body .filter .jumpWindow.pointWindow .content table tr, html body .filter .jumpWindow.betHistoryWindow .content table tr {
  width: 100%;
  height: auto;
}
html body .filter .jumpWindow.pointWindow .content table tr:first-child td, html body .filter .jumpWindow.betHistoryWindow .content table tr:first-child td {
  margin-top: 2vw;
}
html body .filter .jumpWindow.pointWindow .content table tr td, html body .filter .jumpWindow.betHistoryWindow .content table tr td {
  width: 50%;
  height: auto;
  vertical-align: middle;
  padding: 5vw 4vw;
}
html body .filter .jumpWindow.pointWindow .content table tr td:first-child, html body .filter .jumpWindow.betHistoryWindow .content table tr td:first-child {
  font-weight: bold;
}
html body .filter .jumpWindow.pointWindow .content table tr td:last-child p, html body .filter .jumpWindow.betHistoryWindow .content table tr td:last-child p {
  text-align: center;
}
html body .filter .jumpWindow.pointWindow .content table tr td p, html body .filter .jumpWindow.betHistoryWindow .content table tr td p {
  color: #EDECFF;
  font-size: 0.85rem;
  white-space: nowrap;
  line-height: 1rem;
}
html body .filter .jumpWindow.pointWindow .content input, html body .filter .jumpWindow.betHistoryWindow .content input {
  width: 100%;
  height: 11vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
  text-align: center;
  padding: 0;
}
html body .filter .jumpWindow.pointWindow .content input::-webkit-input-placeholder, html body .filter .jumpWindow.betHistoryWindow .content input::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.pointWindow .content input::-moz-placeholder, html body .filter .jumpWindow.betHistoryWindow .content input::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.pointWindow .content input:-ms-input-placeholder, html body .filter .jumpWindow.betHistoryWindow .content input:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.pointWindow .content input::-ms-input-placeholder, html body .filter .jumpWindow.betHistoryWindow .content input::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.pointWindow .content input::placeholder, html body .filter .jumpWindow.betHistoryWindow .content input::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.waterWindow .content {
  width: 100%;
  height: auto;
  padding: 5vw 5vw 10vw;
}
html body .filter .jumpWindow.waterWindow .content ul {
  width: 100%;
  height: auto;
  background: #1d1838;
  border: solid 1px #BEBEBE;
  border-radius: 3vw;
}
html body .filter .jumpWindow.waterWindow .content ul li {
  width: 100%;
  height: 11vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4vw;
}
html body .filter .jumpWindow.waterWindow .content ul li.title {
  border-bottom: solid 1px #BEBEBE;
}
html body .filter .jumpWindow.waterWindow .content ul li.title p {
  color: #A4BFFF;
  font-size: 1.2rem;
}
html body .filter .jumpWindow.waterWindow .content ul li.title p:last-child {
  width: auto;
  font-weight: bold;
}
html body .filter .jumpWindow.waterWindow .content ul li p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
}
html body .filter .jumpWindow.waterWindow .content ul li p:last-child {
  width: 50%;
  font-weight: normal;
  text-align: center;
}
html body .filter .jumpWindow.waterWindow .content ul li p:last-child.money {
  color: #FF7777;
}
html body .filter .jumpWindow.accWindow .content, html body .filter .jumpWindow.platWindow .content {
  width: 100%;
  height: auto;
  max-height: 67vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3vw 1fr 3vw 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 3vw;
  overflow-y: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.accWindow .content button, html body .filter .jumpWindow.platWindow .content button {
  width: auto;
  height: 11vw;
  background: #3D2F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
html body .filter .jumpWindow.accWindow .content button:active, html body .filter .jumpWindow.accWindow .content button.active, html body .filter .jumpWindow.platWindow .content button:active, html body .filter .jumpWindow.platWindow .content button.active {
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
}
html body .filter .jumpWindow.accWindow .content button:first-child, html body .filter .jumpWindow.platWindow .content button:first-child {
  -ms-grid-column: 1;
      grid-column-start: 1;
  -ms-grid-column-span: 3;
  grid-column-end: 4;
}
html body .filter .jumpWindow.eventWindow .content {
  width: 100%;
  height: auto;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0 5vw 5vw;
}
html body .filter .jumpWindow.eventWindow .content p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  line-height: 1.2rem;
  margin-bottom: 2vw;
  word-break: break-all;
}
html body .filter .jumpWindow.eventWindow .content img {
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.eventWindow button {
  width: 92%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  margin: 4vw auto;
}
html body .filter .jumpWindow.langWindow .box {
  width: 100%;
  height: auto;
  padding: 8vw 4vw;
}
html body .filter .jumpWindow.langWindow .box ul {
  width: 100%;
  height: auto;
}
html body .filter .jumpWindow.langWindow .box ul li {
  width: 100%;
  height: 11vw;
  background: #3D2F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.langWindow .box ul li:active, html body .filter .jumpWindow.langWindow .box ul li.active {
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
}
html body .filter .jumpWindow.langWindow .box ul li:last-child {
  margin: 0;
}
html body .filter .jumpWindow.agentWindow form {
  width: 100%;
  height: auto;
  max-height: 66vh;
  overflow-y: auto;
  padding: 5vw;
}
html body .filter .jumpWindow.agentWindow form label {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 2vw;
}
html body .filter .jumpWindow.agentWindow form label .itemName {
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1vw;
}
html body .filter .jumpWindow.agentWindow form label .itemName span {
  color: #FF3030;
  margin-right: 1vw;
}
html body .filter .jumpWindow.agentWindow form label input[type=text] {
  width: 100%;
  height: 13vw;
  background: #483F6E;
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 4vw;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-webkit-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-moz-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]:-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::-ms-input-placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label input[type=text]::placeholder {
  color: #EDECFF;
  font-size: 0.75rem;
}
html body .filter .jumpWindow.agentWindow form label button {
  width: auto;
  height: 13vw;
  background: -webkit-gradient(linear, left top, right top, from(#6140B3), to(#469FE3));
  background: linear-gradient(to right, #6140B3 0%, #469FE3 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.75rem;
  text-align: left;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(0.8);
          transform: translateY(-50%) scale(0.8);
  -webkit-transform-origin: right;
          transform-origin: right;
  right: 2vw;
}
html body .filter .jumpWindow.agentWindow form label .remind {
  color: #BEBEBE;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 4vw;
  margin-top: 1vw;
}
html body .filter .jumpWindow.agentWindow form label ul {
  margin-top: 1vw;
}
html body .filter .jumpWindow.agentWindow form label ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}
html body .filter .jumpWindow.agentWindow form label ul li input {
  width: 4vw;
  height: 4vw;
  background: transparent;
  border-radius: 0.5vw;
  margin: 0 2vw 0 0;
  position: relative;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form label ul li input::before {
  content: "";
  width: 4vw;
  height: 4vw;
  border: 0.5vw solid #BEBEBE;
  border-radius: 1vw;
  background: #EDECFF;
  position: absolute;
  top: 0;
  left: 0;
}
html body .filter .jumpWindow.agentWindow form label ul li input::after {
  content: "√";
  font-size: 4vw;
  color: linear-gradient(to bottom, #463F72 0%, #232039 100%);
  position: absolute;
  top: -0.5vw;
  left: 1vw;
  opacity: 0;
}
html body .filter .jumpWindow.agentWindow form label ul li input:checked::after {
  opacity: 1;
}
html body .filter .jumpWindow.agentWindow form label ul li p {
  color: #A4BFFF;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0;
}
html body .filter .jumpWindow.agentWindow form .check {
  width: auto;
  height: 6vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 4vw;
}
html body .filter .jumpWindow.agentWindow form .check input {
  width: 4vw;
  height: 4vw;
  background: transparent;
  margin: 0 3vw 0 0;
  position: relative;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form .check input::before {
  content: "";
  width: 4vw;
  height: 4vw;
  border: 2px solid #A4BFFF;
  margin-right: 10px;
  border-radius: 50px;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .filter .jumpWindow.agentWindow form .check input::after {
  content: "⬤";
  color: #EDECFF;
  font-size: 1rem;
  position: absolute;
  top: -1vw;
  left: 0.8vw;
  opacity: 0;
}
html body .filter .jumpWindow.agentWindow form .check input:checked::after {
  opacity: 1;
}
html body .filter .jumpWindow.agentWindow form .check p {
  color: #EDECFF;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
html body .filter .jumpWindow.agentWindow form .close {
  width: 100%;
  height: 11vw;
  background: -webkit-gradient(linear, left top, right top, from(#52119F), to(#BD51F4));
  background: linear-gradient(to right, #52119F 0%, #BD51F4 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
}
html body .agentPage {
  width: 96%;
  height: auto;
  margin: 0 auto;
}
html body .agentPage .textBox p {
  color: #EDECFF;
  font-size: 1rem;
  text-align: center;
}
html body .agentPage .textBox p.title {
  color: #6795FF;
  font-size: 1.4rem;
  font-family: sans-serif;
  font-weight: bold;
  margin: 6vw 0 4vw;
}
html body .agentPage .textBox p.subTitle {
  line-height: 1.4rem;
  margin: 0 0 4vw;
}
html body .agentPage .introBox {
  width: 100%;
  height: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(#463F72), to(#232039));
  background: linear-gradient(to bottom, #463F72 0%, #232039 100%);
  border-radius: 2vw;
  padding: 6vw 2vw;
  margin: 0 0 4vw;
}
html body .agentPage .info p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
}
html body .agentPage .info p.title {
  margin: 0 0 3vw;
}
html body .agentPage .info p.content {
  font-size: 0.7rem;
  color: #BEBEBE;
  line-height: 1.2rem;
  margin: 0 0 4vw;
}
html body .agentPage .whyUS {
  width: 94%;
  height: auto;
  margin: 0 auto;
}
html body .agentPage .whyUS .intro_ic {
  width: 17vw;
  height: 17vw;
  margin: 0 3vw 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
html body .agentPage .whyUS .intro_ic.live {
  width: 22vw;
  height: 22vw;
  margin: 0 6vw 10vw 0;
  background-position-y: 0%;
}
html body .agentPage .whyUS .intro_ic.casino {
  background-position-y: 24%;
}
html body .agentPage .whyUS .intro_ic.transfer {
  background-position-y: 49%;
}
html body .agentPage .whyUS .intro_ic.profesional {
  background-position-y: 75%;
}
html body .agentPage .whyUS .intro_ic.nivel {
  background-position-y: 100%;
}
html body .agentPage .whyUS .top,
html body .agentPage .whyUS .down {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
html body .agentPage .whyUS .top .info p,
html body .agentPage .whyUS .down .info p {
  text-align: unset;
}
html body .agentPage .whyUS .top {
  border-bottom: 0.4vw solid #BEBEBE;
  margin-bottom: 4vw;
}
html body .agentPage .whyUS .down {
  -webkit-box-align: unset;
      -ms-flex-align: unset;
          align-items: unset;
}
html body .agentPage .whyUS .down .resultBox {
  width: 33%;
  height: 100%;
  padding: 2vw 4vw 0;
}
html body .agentPage .whyUS .down .resultBox:nth-of-type(2) {
  border-color: #BEBEBE;
  border-style: solid;
  border-width: 0 0.4vw 0 0.4vw;
}
html body .agentPage .whyUS .down .resultBox p {
  color: #EDECFF;
  font-size: 0.7rem;
  text-align: center;
}
html body .agentPage .whyUS .down .resultBox p.num {
  color: #00FFFF;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: sans-serif;
  margin: 0 0 2vw;
}
html body .agentPage .whyUS .introBox:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
  padding: 6vw;
}
html body .agentPage .whyUS .introBox:not(:first-child) .content {
  white-space: nowrap;
  margin: 0;
}
html body .agentPage .comisiones {
  width: 94%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2vw;
  margin: 0 auto;
}
html body .agentPage .comisiones .title {
  color: #EDECFF;
  font-size: 0.9rem;
  font-weight: bold;
  white-space: nowrap;
  margin: 4vw 0 6vw;
}
html body .agentPage .comisiones img {
  width: 96%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 0 4vw;
}
html body .agentPage .comisiones .outer {
  width: 96%;
  height: auto;
  border-radius: 2vw;
  border: 1px solid #A4BFFF;
  margin-bottom: 4vw;
  overflow: hidden;
}
html body .agentPage .comisiones .outer table {
  width: 100%;
  height: auto;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(even) {
  background: #121A29;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(odd) {
  background: #23263C;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) {
  background: -webkit-gradient(linear, left top, left bottom, from(#469FE3), color-stop(70%, #6140B3));
  background: linear-gradient(to bottom, #469FE3 0%, #6140B3 70%);
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th {
  width: 50%;
  vertical-align: middle;
  padding: 2vw;
  position: relative;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th::before {
  content: "";
  width: 0.2vw;
  height: 5vw;
  background: #A4BFFF;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th:nth-of-type(2)::before {
  display: none;
}
html body .agentPage .comisiones .outer table tr:nth-of-type(1) th p {
  color: #EDECFF;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}
html body .agentPage .comisiones .outer table tr td {
  vertical-align: middle;
  padding: 20px;
  position: relative;
}
html body .agentPage .comisiones .outer table tr td::before {
  content: "";
  width: 1px;
  height: 20px;
  background: #A4BFFF;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
html body .agentPage .comisiones .outer table tr td:nth-of-type(2)::before {
  display: none;
}
html body .agentPage .comisiones .outer table tr td p {
  color: #EDECFF;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
}
html body .agentPage button {
  width: 94%;
  height: 10vw;
  background: linear-gradient(-30deg, #FF29F1 0%, #00B0FF 100%);
  border-radius: 30vw;
  border: none;
  color: #EDECFF;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 0.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 3vw;
  font-size: 0.9rem;
  margin: 0 auto;
}