//存款
.depositWrap {
    width: 100%;
    height: auto;

    .depList {
        width: 100%;
        height: auto;
        background: $subBG_2;
        padding: 4vw;
        margin-bottom: 4vw;

        .title {
            color: $mainWord_1;
            font-size: 0.85rem;
            font-weight: bold;
        }

        .listWrap {
            width: 100%;
            height: auto;
            overflow-x: auto;
            margin-top: 4vw;

            ul {
                width: auto;
                height: auto;
                display: flex;

                li {
                    width: 26vw;
                    height: 20vw;
                    background: $mainBG_3;
                    border: solid 2px $mainBorder_2;
                    border-radius: 3vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    flex-shrink: 0;
                    margin-right: 2vw;

                    &::before {
                        display: none;
                        content: "";
                        position: absolute;
                        right: -5vw;
                        bottom: -5vw;
                        width: 10vw;
                        height: 10vw;
                        background: $mainBorder_2;
                        transform: rotate(45deg);
                    }

                    &::after {
                        display: none;
                        content: "";
                        position: absolute;
                        right: 1.5vw;
                        bottom: 1.2vw;
                        width: 1vw;
                        height: 2vw;
                        border-style: solid;
                        border-width: 0 0.75vw 0.75vw 0;
                        border-color: transparent $mainBG_3 $mainBG_3 transparent;
                        transform: rotate(45deg);
                    }

                    &:last-child {
                        margin: 0;
                    }

                    &.active {

                        &::before,
                        &::after {
                            display: block;
                        }
                    }

                    i {
                        width: 8vw;
                        height: 8vw;
                        margin-bottom: 2vw;
                    }

                    p {
                        color: $subWord_1;
                        font-size: 0.75rem;
                        font-weight: bold;
                        text-align: center;
                        white-space: nowrap;

                        &.small {
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }
    }

    .depContent {
        display: none;
        width: 100%;
        height: auto;
        background: $subBG_2;
        padding: 4vw;
        margin-bottom: 4vw;

        &.display {
            display: block;
        }

        .msgBox {
            width: 100%;
            height: auto;

            ul {
                width: 100%;
                height: auto;

                li {
                    width: 100%;
                    height: auto;
                    background: $mainBG_1;
                    border-radius: 3vw;
                    border: solid 1px $mainBorder_1;
                    position: relative;
                    padding: 4vw 8vw;
                    margin-bottom: 4vw;

                    &.road {
                        opacity: 0.5;

                        &::before {
                            display: none;
                        }

                        p {
                            color: $mainWord_2;
                        }
                    }

                    &:last-child {
                        margin: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 4vw;
                        width: 2vw;
                        height: 2vw;
                        background: $remind;
                        border-radius: 50%;
                    }

                    p {
                        color: $subWord_1;
                        font-size: 1.2rem;
                        font-weight: bold;
                        @include hiddenText;
                    }
                }
            }
        }

        .bigTitle {
            color: $mainWord_1;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 4vw;
        }

        .subTitle {
            color: $subWord_2;
            font-size: 0.85rem;
            font-weight: bold;
            margin-bottom: 3vw;
        }

        .row {
            width: 100%;
            height: auto;
            margin-bottom: 6vw;

            .title {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                margin-bottom: 2vw;
            }
    
            select {
                width: 100%;
                height: 11vw;
                @include mainSelect;
                border-radius: 2vw;
            }
            
            input {
                width: 100%;
                height: 11vw;
                @include mainInput;
                border-radius: 2vw;
            }

            .remind {
                color: $mainWord_2;
                font-size: 0.75rem;
                font-weight: bold;
                padding-top: 1vw;
            }
        }

        .check {
            width: 100%;
            height: 11vw;
            @include fifthBtn;
        }
    }

    .remindBox {
        display: none;
        width: 100%;
        height: auto;
        background: $subBG_2;
        padding: 4vw;

        &.display {
            display: block;
        }

        p {
            color: $mainWord_1;
            font-size: 0.85rem;
            font-weight: bold;
            line-height: 1.25rem;
            margin-bottom: 2vw;

            &.title {
                color: $subWord_4;
                font-size: 1rem;
                margin: 4vw 0;

                &:first-child {
                    margin-top: 0;
                }
            }

            &.remind {
                color: $remind;
            }
        }
    }
}