//header
header {
    width: 100%;
    height: auto;
    background: $header_BG;
    box-shadow: 0 5px 10px 0 $header_Shadow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    .content {
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        position: relative;
        padding: 0 4vw;

        &.index {
            justify-content: space-between;
        }

        .inviteBtn {
            width: auto;
            height: 4vh;
            @include header_inviteBtn;

            &.apply {
                padding: 0 6vw;
            }

            i {
                width: 6.5vw;
                height: 6.5vw;
                margin-right: 2vw;
            }

            p {
                text-align: left;
            }
        }
    }
}