//幫助中心外層
.helpWrap {
    @include bgStyle_1;
    display: none;

    &.display {
        display: block;
    }

    //開頭選單
    .helpHeader {
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        border-bottom: solid 1px $mainBorder_1;

        .selectBox {
            width: 92.27vw;
            height: 42px;
            box-sizing: border-box;
            padding-left: 15px;
            display: flex;
            align-items: center;
            background: $mainBG_2;
            position: relative;
            border-radius: 5px;

            p {
                color: $mainWord_1;
                font-size: 4vw;
                font-weight: bold;
            }

            &::before {
                content: "";
                position: absolute;
                right: 20px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: $mainBorder_1 transparent;
            }

            select {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                padding-left: 15px;
                color: $mainWord_1;
                font-weight: bold;
                font-size: 14px;

                option {
                    background: $mainBG_2;
                }
            }
        }
    }

    //內容
    .helpBody {
        width: 100%;
        height: calc(100vh - 164px);
        overflow-y: auto;

        ul {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 15px 4vw;

            li {
                width: 100%;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $mainBG_2;
                border-radius: 5px;
                margin-bottom: 15px;
                color: $mainWord_1;
                font-size: 4vw;
                font-weight: bold;
            }
        }
    }
}

//幫助中心內層
.helpInner {
    @include bgStyle_1;
    display: none;

    &.display {
        display: block;
    }

    ul {
        display: none;
        width: 100%;
        height: auto;

        &.display {
            display: block;
        }

        li {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 16px;

            p {
                color: $mainWord_3;
                font-size: 3.7vw;
                font-weight: bold;
                line-height: 22px;
                margin-bottom: 8px;

                &.smallTitle {
                    font-size: 4.5vw;
                    margin: 10px 0;
                    color: $mainWord_1;

                    &:first-child {
                        margin-top: 0;
                    }
                }

                &.secondTitle {
                    color: $mainWord_4;
                }

                a {
                    color: $click;
                    text-decoration: none;
                }

                .remind {
                    color: $help_remind;
                }
            }

            .uploadBox {
                width: 100%;
                height: auto;

                .box {
                    width: 100%;
                    height: auto;
                    background: $help_box_BG;
                    border-radius: 5px;
                    border: dashed 3px $help_box_Border;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 45px 0;
                    box-sizing: border-box;

                    &:nth-of-type(1) {
                        margin-bottom: 16px;
                    }

                    i {
                        width: 52px;
                        height: 49px;
                        margin-bottom: 10px;
                    }

                    button {
                        width: auto;
                        height: 36px;
                        @include mainBtn;
                        padding: 0 10px;
                        margin: 16px 0;
                    }

                    .remind {
                        font-size: 2vw;
                        margin: 0;
                    }
                }

                .sendBtn {
                    width: 70vw;
                    height: 36px;
                    @include mainBtn;
                    display: block;
                    margin: 20px auto 10px;
                }

                .reBtn {
                    width: 70vw;
                    height: 36px;
                    @include noBgBtn_Normal;
                    background: $help_reBtn_BG;
                    display: block;
                    margin: 0 auto;
                }
            }

            .btnBox {
                width: 100%;
                height: auto;
                margin: 20px 0;

                .btn {
                    width: 100%;
                    height: 105px;
                    background: $mainBG_2;
                    border-radius: 16px;
                    display: flex;
                    align-items: center;
                    box-sizing: border-box;
                    padding: 10px 16px;

                    i {
                        display: block;
                        width: 8.7vw;
                        height: 8.7vw;
                        margin-right: 16px;
                        flex-shrink: 0;
                    }

                    p {
                        font-size: 3.4vw;
                        font-weight: bold;
                        margin: 0;
                        color: $mainWord_1;

                        &:nth-of-type(1) {
                            font-size: 5vw;
                        }
                        &:nth-of-type(2) {
                            color: $mainWord_4;
                        }
                    }
                }
            }

            .downloadBtn {
                width: 100%;
                height: 42px;
                @include mainBtn;
            }

            hr {
                border-color: $mainBorder_1;
                margin: 40px 0;
            }
        }
    }
}