//member
.memberWrap .infoBtn .info_ic {
    background: url('../images/icon/info_ic.png') no-repeat center;
    background-size: contain;
}
.memberWrap .bigList_ic {
    background: url('../images/icon/memberBigBtn.png') no-repeat;
    background-size: 200%;
}
.memberWrap .list_ic {
    background: url('../images/icon/memberMainBtn.png') no-repeat;
    background-size: 500%;
}
.memberWrap .member_ic {
    background: url('../images/icon/memberIC.png') no-repeat;
    background-size: 600%;
}
.memberWrap .member_ic.lang {
    background: url('../images/icon/langIC.png') no-repeat center;
    background-size: contain;
}
.memberWrap .arrow_ic {
    background: url('../images/icon/svg/arrow_1.svg') no-repeat center;
    background-size: contain;
}
.memberInfo .qr {
    background: url('../images/qr.png') no-repeat center;
    background-size: contain;
}
.memberInfo .noCheck {
    background: url('../images/icon/noCheck.png') no-repeat center;
    background-size: contain;
}
.memberInfo .isCheck {
    background: url('../images/icon/isCheck.png') no-repeat center;
    background-size: contain;
}

//kyc
.kycWrap .add_ic {
    background: url('../images/icon/add_ic.png') no-repeat center;
    background-size: contain;
}

//inviteWrap
.inviteWrap .qr {
    background: url('../images/qr.png') no-repeat center;
    background-size: contain;
}

//wallet
.walletWrap .deposit_ic {
    background: url('../images/icon/svg/deposit.svg') no-repeat center;
    background-size: contain;
}
.walletWrap .transfer_ic {
    background: url('../images/icon/svg/transfer.svg') no-repeat center;
    background-size: contain;
}
.walletWrap .withdrawal_ic {
    background: url('../images/icon/svg/withdrawal.svg') no-repeat center;
    background-size: contain;
}
.walletWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat center;
    background-size: contain;
}
.walletWrap .wallet_ic {
    background: url('../images/icon/walletIC.png') no-repeat;
    background-size: 200%;
}
.walletWrap .arrow_ic {
    background: url('../images/icon/svg/arrow_1.svg') no-repeat center;
    background-size: contain;
}

//vip
.vipWrap .medal.level_1 {
    background: url('../images/level_01.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_2 {
    background: url('../images/level_02.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_3 {
    background: url('../images/level_03.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_4 {
    background: url('../images/level_04.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_5 {
    background: url('../images/level_05.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_6 {
    background: url('../images/level_06.png') no-repeat center;
    background-size: contain;
}
.vipWrap .medal.level_7 {
    background: url('../images/level_07.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_1 {
    background: url('../images/levelCard_01.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_2 {
    background: url('../images/levelCard_02.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_3 {
    background: url('../images/levelCard_03.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_4 {
    background: url('../images/levelCard_04.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_5 {
    background: url('../images/levelCard_05.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_6 {
    background: url('../images/levelCard_06.png') no-repeat center;
    background-size: contain;
}
.vipWrap .lvBox .lv_7 {
    background: url('../images/levelCard_07.png') no-repeat center;
    background-size: contain;
}
.vipWrap .vip_ic {
    background: url('../images/icon/vipIC.png') no-repeat center;
    background-size: contain;
}
.vipWrap .arrow_ic {
    background: url('../images/icon/svg/arrow_1.svg') no-repeat center;
    background-size: contain;
}

//card
.cardWrap .add_ic {
    background: url('../images/icon/add_ic.png') no-repeat center;
    background-size: contain;
}
.cardWrap .cardList li:not(.empty) {
    background: url("../images/cardBG.png") no-repeat center;
    background-size: contain;
}

//header
header .invite_ic {
    background: url('../images/icon/invite_ic.png') no-repeat center;
    background-size: contain;
}
header .back_arrow {
    background: url('../images/icon/svg/arrow_1.svg') no-repeat center;
    background-size: contain;
}
header .editBtn {
    background: url('../images/icon/edit.png') no-repeat;
    background-size: contain;
}

//marquee
.marquee_ic i {
    background: url('../images/icon/marquee_ic.png') no-repeat center;
    background-size: contain;
}

//operate
.operate .deposit_ic {
    background: url("../images/icon/svg/deposit.svg") no-repeat center;
    background-size: contain;
}
.operate .transfer_ic {
    background: url("../images/icon/svg/transfer.svg") no-repeat center;
    background-size: contain;
}
.operate .withdrawal_ic {
    background: url("../images/icon/svg/withdrawal.svg") no-repeat center;
    background-size: contain;
}

//gameList ic
.gameList i {
    background: url('../images/icon/gamesList_ic.png') no-repeat;
    background-size: 600%;
}

//footer ic
footer i {
    background: url('../images/icon/footer_ic.png') no-repeat;
    background-size: 500%;
}

//help
.helpInner .upload_ic {
    background: url('../images/icon/svg/help_upload.svg') no-repeat center;
    background-size: contain;
}
.helpInner .btnBox .line_ic {
    background: url('../images/icon/svg/line.svg') no-repeat center;
    background-size: contain;
}

//slotPage
.slotHeader .search_ic {
    background: url('../images/icon/svg/search.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .gameBox .love {
    background: url('../images/icon/svg/love1.svg') no-repeat;
    background-size: 100%;
}
.slotWrap .gameBox .love.active {
    background: url('../images/icon/svg/love2.svg') no-repeat;
    background-size: 100%;
}

//deposit
.depositWrap .card_ic {
    background: url('../images/icon/svg/card.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .tigerPay_ic {
    background: url('../images/icon/svg/tigerPay.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .iWallet_ic {
    background: url('../images/icon/svg/iWallet.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .usdt_ic {
    background: url('../images/icon/svg/usdt.svg') no-repeat center;
    background-size: contain;
}
.depositWrap .venus_ic {
    background: url('../images/icon/svg/venus.svg') no-repeat center;
    background-size: contain;
}

//transfer
.transWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat center;
    background-size: contain;
}

//withdrawal
.withWrap .openBtn .db_arrow {
    background: url('../images/icon/svg/unfold.svg') no-repeat center;
    background-size: contain;
}

//agent
.agentPage .intro_ic {
    background: url('../images/agent_introIC.png') no-repeat;
    background-size: 100%;
}


////////img↓


//header - logo
header .logo {
    height: 80%;
    object-fit: contain;
}

//home - 遊戲廠商圖
.homeCenter .gameBox img {
    width: 100%;
    object-fit: contain;
}

//slotPage - .gameBox img
.slotWrap .gameBox img {
    width: 100%;
    object-fit: contain;
}

//eventImg
.eventList .eventImg img {
    width: 100%;
    object-fit: contain;
}

//eventWindow img
.eventWindow img {
    width: 100%;
    object-fit: contain;
}

//help
.helpInner img {
    width: 100%;
    object-fit: contain;
    margin: 4vw 0;
}