//投注紀錄
.bettingWrap {
    width: 100%;
    height: auto;

    .searchContent {
        width: 100%;
        height: auto;
        padding: 4vw 3vw;

        .row {
            width: 100%;
            height: auto;

            &:first-child {
                margin-bottom: 4vw;
            }

            &.double {
                display: flex;
                justify-content: space-between;

                .half {
                    width: 48%;

                    button {
                        width: 100%;
                        height: 11vw;
                        @include mainSelect;
                        text-align: left;
                        border-radius: 2vw;
                    }
                }
            }

            p {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                margin-bottom: 2vw;
            }

            select {
                width: 100%;
                height: 11vw;
                @include mainSelect;
                border-radius: 2vw;
            }
        }

        .date {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-between;
            margin: 4vw 0;

            button {
                width: 22%;
                height: 10vw;
                @include fourthBtn;
            }
        }

        .check {
            width: 100%;
            height: 11vw;
            @include mainBtn;
        }
    }

    .list {
        display: none;
        width: 100%;
        height: auto;
        padding: 0 4vw;

        &.display {
            display: block;
        }

        .dealBox {
            display: none;
            width: 100%;
            height: auto;
            background: $mainBG_1;
            border-radius: 3vw;
            border: solid 1px $mainBorder_1;
            padding: 2vw 0;
            margin-bottom: 4vw;

            &.display {
                display: block;
            }

            li {
                width: 100%;
                height: 11vw;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4vw;

                p {
                    color: $mainWord_1;
                    font-size: 0.85rem;
                    font-weight: bold;

                    &:last-child {
                        width: 50%;
                        font-weight: normal;
                        text-align: center;

                        &.sus {
                            color: $subWord_3;
                        }

                        &.fail {
                            color: $subWord_2;
                        }
                    }
                }
            }
        }
    }

    .data {
        display: none;
        width: 100%;
        height: auto;
        padding: 0vw 3vw 4vw;

        &.active {
            display: block;
        }

        table {
            width: 100%;
            background: $mainBG_1;
            border-radius: 2vw;
            box-shadow: inset 0 0 3px $mainBorder_1;

            &:not(:first-child) {
                margin-top: 4vw;
            }

            tr {
                width: 100%;
                height: auto;

                &:first-child {
                   
                    td {
                        margin-top: 2vw;
                    }
                }

                &:last-child {

                    td {

                        &:last-child {
                            padding: 0 4vw;
                        }
                    }
                }
                
                td {
                    width: 50%;
                    height: auto;
                    vertical-align: middle;
                    padding: 5vw 4vw;

                    &:first-child {
                        font-weight: bold;
                    }

                    &:last-child {

                        p {
                            text-align: center;
                        }
                    }

                    p {
                        color: $mainWord_1;
                        font-size: 0.8rem;
                        white-space: nowrap;
                        line-height: 1rem;

                        &.highlight {
                            color: $subWord_3;
                        }
                    }

                    button {
                        width: 85%;
                        height: 10vw;
                        @include mainBtn;
                        margin: 4vw auto;
                    }
                }
            }
        }
    }
}

//交易紀錄上選項
.recordTop {
    width: 100%;
    height: auto;

    ul {
        width: 100%;
        height: auto;
        display: flex;

        li {
            width: 50%;
            height: 11vw;
            color: $mainWord_1;
            font-size: 0.75rem;
            font-weight: bold;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            opacity: 0.4;

            &::before {
                display: none;
                content: "";
                position: absolute;
                width: 100%;
                height: 0.5vw;
                background: $mainBorder_1;
                border-radius: 30vw;
                left: 0;
                bottom: 0;
            }

            &:active,&.active {
                opacity: 1;

                &::before {
                    display: block;
                }
            }
        }
    }
}

.waterBox {
    width: 100%;
    height: auto;
    padding: 4vw;

    ul {
        width: 100%;
        height: auto;
        background: $mainBG_1;
        border: solid 1px $mainBorder_1;
        border-radius: 3vw;
        padding: 2vw 0;
        margin-bottom: 4vw;

        li {
            width: 100%;
            height: 11vw;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 4vw;

            p {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;

                &:last-child {
                    width: 50%;
                    font-weight: normal;
                    text-align: center;

                    &.feeback {
                        color: $subWord_3;
                    }

                    &.money {
                        color: $subWord_2;
                    }
                }

                button {
                    width: 24vw;
                    height: 9vw;
                    @include mainBtn;
                    margin: 0 auto;
                }
            }
        }
    }
}