//slot頁
.slotWrap {
    width: 100%;
    height: auto;

    //slot上選單
    .slotHeader {
        width: 100%;
        height: auto;

        //選單
        .listBox {
            width: 100%;
            height: auto;
            margin-bottom: 4vw;
        
            ul {
                width: 100%;
                height: auto;
                display: flex;
        
                li {
                    width: 34%;
                    height: 11vw;
                    color: $mainWord_1;
                    font-size: 0.75rem;
                    font-weight: bold;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    opacity: 0.4;
        
                    &::before {
                        display: none;
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 0.5vw;
                        background: $mainBorder_1;
                        border-radius: 30vw;
                        left: 0;
                        bottom: 0;
                    }
        
                    &:active,&.active {
                        opacity: 1;
        
                        &::before {
                            display: block;
                        }
                    }
                }
            }
        }

        //搜尋列
        .searchBox {
            width: 92%;
            height: 9vw;
            background: $mainBG_2;
            border-radius: 30vw;
            display: flex;
            align-items: center;
            padding-left: 4vw;
            margin: 0 auto 4vw;

            .search_ic {
                width: 6vw;
                height: 6vw;
                margin-right: 4vw;
            }

            input {
                width: 100%;
                height: auto;
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                background: none;
                border: none;
            }
        }
    }

    //slot遊戲列
    .gameList {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 4vw 2vw;
        padding: 0 4vw 7vw;

        .gameBox {
            width: auto;
            height: auto;
            background: $mainBG_1;
            border-radius: 3vw;
            border: solid 1px $mainBorder_1;
            overflow: hidden;

            .textBox {
                width: 100%;
                height: 9vw;
                border-top: solid 1px $mainBorder_1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 4vw;

                p {
                    width: 100%;
                    color: $mainWord_1;
                    font-size: 0.75rem;
                    font-weight: bold;
                    @include hiddenText;
                }

                .love {
                    width: 4vw;
                    height: 4vw;
                    flex-shrink: 0;
                    margin-left: 2vw;
                }
            }

            .btnBox {
                width: 100%;
                height: 9vw;
                display: flex;
                justify-content: space-evenly;

                button {
                    width: 45%;
                    height: 7vw;
                    @include mainBtn;
                    font-size: 0.75rem;
                    border-radius: 2vw;

                    &.try {
                        @include secondBtn;
                        border-radius: 2vw;
                    }
                }
            }
        }
    }
}