//我的錢包
.walletWrap {
    @include bgStyle_1;

    //上半
    .walletBox {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        background: $mainBG_3;
        padding: 25px 0 25px;

        //上視窗
        .content {
            width: 92vw;
            height: auto;
            margin: 0 auto 25px;
            background: $mainBG_1;
            border: solid 1px $mainBorder_1;
            border-radius: 5px;

            //總額顯示
            .amount {
                width: 100%;
                height: auto;
                display: flex;
                border-bottom: solid 1px $mainBorder_1;

                .half {
                    width: 50%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 12px 0 12px 22px;

                    .title {
                        display: flex;
                        align-items: center;
                        margin-bottom: 16px;
                        color: $mainWord_1;
                        font-size: 3.7vw;
                        font-weight: bold;
                        letter-spacing: 1px;
                    }

                    .money {
                        color: $money;
                        font-size: 6.5vw;
                        font-weight: bold;
                    }
                }
            }

            //限制
            .details {
                width: 100%;
                height: 10.67vw;
                display: flex;
                align-items: center;
                padding: 0 15px;
                box-sizing: border-box;
                
                p {
                    color: $mainWord_2;
                    font-size: 3.4vw;
                    font-weight: bold;

                    &:nth-of-type(2) {
                        margin-left: 20px;
                        color: $money_Sp;
                    }
                }
            }
        }

        //轉存提
        ul {
            width: 100%;
            height: auto;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            padding: 0 17vw;

            li {
                display: flex;
                flex-direction: column;
                align-items: center;

                i {
                    display: block;
                    width: 11.47vw;
                    height: 11.47vw;
                }

                p {
                    color: $mainWord_1;
                    font-size: 2vw;
                    font-weight: bold;
                    padding-top: 2vw;
                }
            }
        }
    }

    //錢包列
    .walletList {
        width: 100%;
        height: auto;
        background: $mainBG_3;
        margin-bottom: 16px;

        .forPlatform {
            width: 100%;
            height: auto;
            padding: 16px;
            box-sizing: border-box;

            .title {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 12px;

                div {

                    p {
                        color: $mainWord_4;
                        font-size: 3.4vw;
                        font-weight: bold;
                        letter-spacing: 1px;

                        &:last-child {
                            margin-top: 5px;
                        }
                    }
                }

                button {
                    width: auto;
                    height: 20px;
                    @include secondBtn;
                    font-size: 2vw;
                }
            }

            ul {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 12px 8px;
                width: 100%;
                height: 0;
                overflow: hidden;
                transition: 0.5s all;

                &.active {
                    height: 852px;
                }

                li {
                    width: auto;
                    height: auto;
                    box-sizing: border-box;
                    padding: 10px;
                    border-radius: 5px;
                    background: $mainBG_2;
                    overflow: hidden;

                    div {
                        width: 100%;
                        color: $mainWord_1;
                        font-size: 12px;
                        font-weight: bold;
                        letter-spacing: 1px;
                        @include hiddenText;
                    }

                    p {
                        margin-top: 8px;
                        font-size: 4.5vw;
                        color: $money;
                        font-weight: bold;
                    }
                }
            }

            .openBtn {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                margin-top: 16px;

                div {
                    color: $money;
                    font-size: 3.4vw;
                    font-weight: bold;
                    letter-spacing: 1px;
                    display: flex;
                    align-items: center;

                    &.active {

                        .db_arrow {
                            transform: rotate(180deg);
                        }
                    }

                    .db_arrow {
                        display: block;
                        width: 12px;
                        height: 12px;
                        margin-left: 9px;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }

    //下方按鈕
    .options {
        width: 92vw;
        height: 50px;
        @include longBtn;
        margin: 0 auto 17px;

        .betting_ic,.deal_ic {
            display: block;
            width: 24px;
            height: 30px;
            margin-right: 20px;
        }
        .deal_ic {
            background-position-x: 100%;
        }

        .arrow_ic {
            display: block;
            width: 10px;
            height: 20px;
            transform: scaleX(-1);
        }
    }
}