//提款
.withWrap {
    width: 100%;
    height: auto;

    //上半
    .walletBox {
        width: 100%;
        height: auto;

        .content {
            width: 92%;
            height: auto;
            background: $subBG_1;
            border-radius: 5vw;
            padding: 4vw 4vw 6vw;
            margin: 4vw auto;

            .title {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: $mainWord_1;
                    font-size: 0.75rem;
                    font-weight: bold;
                }

                button {
                    width: auto;
                    height: 6vw;
                    @include mainBtn;
                    font-size: 0.75rem;
                }
            }

            .amount {
                color: $mainWord_1;
                font-size: 2rem;
                font-weight: bold;
                margin-top: 2vw;
            }
        }

        .detail {
            width: 100%;
            height: auto;
            background: $subBG_2;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5vw 4vw;
            margin-bottom: 1vw;

            &:nth-of-type(3) {
                margin: 0;
            }

            p {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                display: flex;
                flex-direction: column;

                button {
                    width: auto;
                    height: 6vw;
                    @include mainBtn;
                    font-size: 0.75rem;
                    margin-top: 2vw;
                }
            }
        }

        .walletDetail {
            width: 92%;
            height: 11vw;
            overflow: hidden;
            margin: 4vw auto 0;

            &.active {
                height: auto;

                .check {

                    i {
                        transform: scaleY(-1);
                    }
                }
            }

            .check {
                width: 100%;
                height: 11vw;
                @include mainBtn;

                i {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 2vw 1vw 0 1vw;
                    border-color: $mainWord_1 transparent;
                    margin-left: 2vw;
                }
            }

            ul {
                width: 100%;
                height: 30vh;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 2vw;
                overflow: hidden;
                margin-top: 4vw;
    
                &.active {
                    height: auto;
                }
    
                li {
                    width: auto;
                    height: 8.5vh;
                    background: $mainBG_1;
                    border: solid 1px $mainBorder_2;
                    border-radius: 3vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    overflow: hidden;
                    padding: 0 3vw;
    
                    p {
                        color: $mainWord_1;
                        font-size: 1.2rem;
                        font-weight: bold;
                        @include hiddenText;
    
                        &.smallTitle {
                            color: $mainWord_2;
                            font-size: 0.85rem;
                        }
                    }
                }
            }

            .openBtn {
                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 4vw;
    
                p {
                    display: none;
                    color: $mainWord_1;
                    font-size: 1rem;
                    font-weight: bold;
                    align-items: center;
                    justify-content: center;
    
                    &.display {
                        display: flex;
                    }
    
                    .db_arrow {
                        width: 4vw;
                        height: 4vw;
                        margin-left: 2vw;
    
                        &.active {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
        }
    }

    //下半
    .withContent {
        width: 100%;
        height: auto;
        margin-top: 4vw;

        .remindBox {
            width: 100%;
            height: auto;
            background: $subBG_2;
            padding: 5vw 6vw;
            margin-bottom: 2vw;
            
            p {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                margin-bottom: 2vw;

                &.remind {
                    color: $subWord_2;
                    font-size: 0.75rem;
                    line-height: 1.2rem;
                    margin: 4vw 0 0;
                }
            }
        }

        .inputBox {
            width: 100%;
            height: auto;
            background: $subBG_2;
            padding: 4vw;
            margin-bottom: 4vw;

            .title {
                color: $mainWord_1;
                font-size: 0.85rem;
                font-weight: bold;
                margin-bottom: 2vw;
            }

            input {
                width: 100%;
                height: 11vw;
                @include mainInput;
                border-radius: 2vw;
            }

            select {
                width: 100%;
                height: 11vw;
                @include mainSelect;
                border-radius: 2vw;
                margin-bottom: 6vw;
            }

            .check {
                width: 100%;
                height: 42px;
                @include mainBtn;
                margin-top: 6vw;
            }
        }
    }
}